* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}

body {
    background: #8be3cb;
    height: 100vh;
}

.form-section {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

h1 {
    font-size: 5rem;
    text-align: center;
    padding: 20px 0;
    font-weight: 600;
}

h2 {
    font-size: 3rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px 15px 0 15px;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    width: 100%;
}

span {
    color: #000;
    font-size: 1.8rem;
    font-weight: bold;
}

input {
    border-style: none;
    text-align: center;
    outline: none;
    height: 30px;
    border-radius: 12px;
    margin: 9px 0;
    background: #fff;
    width: 90%;
}


.codigos {
    background: rgb(255, 255, 255);
    padding: 10px;
    height: max-content;
    border-radius: 7px;
    margin: 15px;
}

.codigos_listas {
    display: flex;
    width: 100%;
    padding: 0 10px;
}

.codigos_listas ul:nth-child(2) {
    margin-left: auto;
}

li {
    list-style: none;
    font-size: 1.3rem;
    padding-top: 3px;
}

button {
    background: #fff;
    border-style: none;
    height: 30;
    font-size: 1.5rem;
    padding: 5px;
    border-radius: 7px;
}

button:hover {
    background: rgb(212, 212, 212)
}

.result {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result p {
    align-self: center;
    background: #fff;
    margin: 10px 0 0 0;
    padding: 10px 30px;
    border-radius: 15px;
}
