* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    /* height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    background: #ffffff;
    position: relative;
    min-height: 705px;
}

input {
    border-style: none;
    text-align: center;
    outline: none;
}

.title_header {
    width: 100%;
}

.title_header h1 {
    padding: 20px 20px 0;
    font-size: 4rem;
    text-align: center;
    color: #0099ff;
}

.calculadora_container {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}

.calculadora_container img {
    height: 100px;
    margin: 15px 0;
}

.calculadora_container > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 300px;
    height: max-content;
    margin: 10px 10px;
    padding: 10px 0;
    border-radius: 40px;
}

.calculoCuadrado {
    background: #f9b108;
    box-shadow:  3px 3px 1px #b88206,
             -3px -3px 1px #ffcf2f;
}

.calculoCirculo {
    background: #ff2424;
    box-shadow:  3px 3px 1px #660e0e,
             -3px -3px 1px #ff4747;
}

.calculoTriangulo {
    background: #0099ff;
    box-shadow:  3px 3px 1px #003d66,
                 -3px -3px 1px #00f5ff;
}

.calculadora_form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.calculadora_form > label {
    width: 100%;
    max-width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
    font-size: 1.5rem;
}

.calculadora_form > label span {
    font-size: 1.7rem;
    text-align: center;
    color: rgb(0, 0, 0);
}

.calculadora_form > label input {
    width: 70%;
    height: 25px;
    margin: 5px 0;
    border-radius: 50px;
    border-bottom: 1px solid #000000;
    background: #00000000;
}

.button_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button_container button {
    font-size: 1.5rem;
    height: 35px;
    border: none;
    border-radius: 50px;
    margin: 5px;
    padding: 0 4px;
    color: #000000
}

.calculoCuadrado button {
    background: #f9b108;
    box-shadow:  5px 5px 10px #c28a08,
             -5px -5px 10px #fdcc2dd7;
}

.calculoCirculo button {
    background: #ff2424;
    box-shadow:  5px 5px 10px #660e0e,
             -5px -5px 10px #ff3a3a;
}

.calculoTriangulo button {
    background: #0099ff;
    box-shadow:  5px 5px 10px #003d66,
                 -5px -5px 10px #00f7ff8a;
}

footer {
    width: 100%;
    position: absolute;
    bottom: -50px;
}

footer p {
    font-size: 1.5rem;
    position: absolute;
    left: calc(50% - 130px);
    bottom: 0;
    padding: 0 10px 10px;
}

.wave_footer {
    position: absolute;
    bottom: 0;
    z-index: -1;
}
