html {
    font-size: 62.5%;
    font-family: 'Roboto Mono', monospace;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #000;
}
body {
    background: #FFD000;
}

h1 {
    text-align: center;
    padding: 30px 0;
    font-size: 5rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(255, 255, 255);
}

.weightedAverage_content {
    background: #C29E00;
    width: 80%;
    max-width: 800px;
    height: max-content;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
}

.form_section form,
.userData_content form .courses label,
.weightedAveragePrint {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_section input {
    width: 200px
}

input {
    background: #E8BE00;
    border-style: none;
    border-bottom: 2px solid #5C4B00;
    font-size: 1.8rem;
    outline: none;
    height: 30px;
    width: 90%;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

input:active {
    background: #E8BE00;
}

span {
    color: #000000;
    font-size: 1.8rem;
    font-weight: 700;
}

.aggInputs {
    display: flex;
    flex-wrap: wrap;
}

.aggInputs .courses {
    width: 100%;
    max-width: 240px;
}

.courses {
    margin: 10px auto;
    border-radius: 20px;
    background: #E8BE00;
    padding: 10px;
}

.weightAverageCalcButton {
    display: none;
}

.weightedAveragePrint {
    display: none;
    font-size: 1.8rem;
    border-style: none;
    border-bottom: 2px solid #5C4B00;
    max-width: max-content;
    height: max-content;
    padding: 4px 30px;
    margin: 10px auto 0;
    border-radius: 10px;
}

button {
    background: #FFD000;
    border-style: none;
    font-size: 1.6rem;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px auto 10px;
}

button:hover {
    background: #E8BE00;
    color: rgb(42, 0, 70);
}

button:active {
    background: linear-gradient(to bottom, #ffde49, #E8BE00);
}
/* 
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom:0;
    padding: 20px;
    width: 100%;
    min-width: 320px;
    height: max-content;
} */

.footer--sections-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-width: 320px;
    margin: auto;
    position: absolute;
    bottom:0;
    padding: 20px;
    height: max-content;
}

.footer--network a {
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
}

.footer--network li {
    width: max-content;
    list-style: none;
    margin: 10px 0;
}

.footer--network img {
    margin-right: 5px;
    width: 20px;
    vertical-align: text-bottom;
}

.footer--logo {
    text-align: center;
    padding: 0 10px;
}

.footer--logo img {
    width: 64px;
    height: 50px;
}

.footer--sections-container p {
    font-size: 1.5rem;
}