html {
    font-size: 62.5%;
    font-family: 'Roboto Mono', monospace;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #000;
}
body {
    background: rgb(53, 134, 187);
    /* background: linear-gradient(135deg, rgba(182,231,224,1) 0%, rgba(52,134,222,1) 50%, rgba(115,0,107,1) 100%);
    background: url(https://cdn.wallpapersafari.com/61/75/Ymx59h.png) center/cover no-repeat; */
}

h1 {
    text-align: center;
    padding: 30px 0;
    font-size: 5rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgba(182,231,224,1);
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main_content {
    background: rgba(182, 231, 224, 0.322);
    width: 290px;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
}

.form_section form,
.form_section form label,
.impresion_lista {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    background: rgba(1, 78, 113, 0.26);
    border-style: none;
    font-size: 1.8rem;
    outline: none;
    height: 30px;
    width: 70%;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

span {
    color: rgb(0, 31, 46);
    font-size: 2rem;
    font-weight: 700;
}

p {
    font-size: 1.8rem;
}

.impresion_resultado {
    background: rgba(1, 78, 113, 0.26);
    border-bottom: 2px solid rgb(1, 78, 113);
    max-width: max-content;
    height: 30px;
    padding: 4px 30px;
    margin: 0 0 5px 0;
    border-radius: 10px;
}

.resultado_texto {
    margin: 10px;
}

button {
    background: rgba(255, 255, 255, 0.335);
    border-style: none;
    font-size: 1.6rem;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px 0 0 0;
}

button:hover {
    background: #b1e3e0bb;
    color: rgb(42, 0, 70);
}

button:active {
    background: linear-gradient(to bottom, #b1e3e063, #b1e3e0);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 150px;
}

.footer--sections-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    max-width: 1000px;
}

.footer--network a {
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
}

.footer--network li {
    width: max-content;
    list-style: none;
    margin: 10px 0;
}

.footer--network img {
    margin-right: 5px;
    width: 20px;
    vertical-align: text-bottom;
}

.footer--logo {
    text-align: center;
    padding: 0 10px;
}

.footer--logo img {
    width: 64px;
    height: 50px;
}

.footer--sections-container p {
    font-size: 1.5rem;
}